[submodule "Opauth/Core"]
	path = Opauth/Core
	url = git://github.com/uzyn/opauth.git
[submodule "Opauth/Strategy/Facebook"]
	path = Opauth/Strategy/Facebook
	url = git://github.com/uzyn/opauth-facebook.git
[submodule "Opauth/Strategy/Twitter"]
	path = Opauth/Strategy/Twitter
	url = git://github.com/uzyn/opauth-twitter.git
[submodule "Opauth/Strategy/Google"]
	path = Opauth/Strategy/Google
	url = git://github.com/uzyn/opauth-google.git
[submodule "Opauth/Strategy/Instagram"]
	path = Opauth/Strategy/Instagram
	url = git://github.com/uzyn/opauth-instagram.git
[submodule "Opauth/Strategy/OpenID"]
	path = Opauth/Strategy/OpenID
	url = git://github.com/uzyn/opauth-openid.git
