@import "styles.css";
@import "pygment_trac.css";

.center{
	text-align: center;
}

.highlight{
	padding: 40px 0;
	background: #3A3C42;
	color: #f8f8f2;
	margin: 0 -20px 20px;
	text-align: center;
	
	em{
		color: #64B800;
	}
}