@import "styles.css";
@import "pygment_trac.css";
@import "http://fonts.googleapis.com/css?family=Homenaje";

.styledfont{
	font-family: 'Homenaje', sans-serif;
	letter-spacing: 1px;
}

body{
	padding-top: 20px;
}

.center{
	text-align: center;
}

.highlight{
	padding: 40px 0;
	background: #3A3C42;
	color: #f8f8f2;
	margin: 0 -20px 20px;
	text-align: center;
	font-size: 20px;
	font-weight: normal;
	
	.styledfont;
	
	em{
		color: #F7CC32;
		padding: 0 4px;
	}
}

h1, h2, h3, h4, h5, h6{
	.styledfont;
	font-weight: normal;
}

header{
	h1{
		color: #642673;
		font-size: 28px;
		line-height: 28px;
		margin-right: 50px;
		float: left;
	}
	
	p{
		width: 500px;
		line-height: 28px;
		font-size: 14px;
	}
}
